.LateralBar {
    background-color: #354F52;
    width: 5%;

    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    padding-top: 4%;
    padding-left: 10px;

    /* Position the navbar at the top of the page */
    height: 100%;
    /* Full width */
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}