body {
    margin: 0;
}

.App {
    /* height: 100vh; */
    background-color: #354F52;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}


.sub-title {
    color: aliceblue;
    font-weight: bold;
    background-color: rgb(53, 52, 52);
}

.Content {
    display: flex;
}

.LateralBar {
    background-color: #354F52;
    width: 5%;

    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    padding-top: 3%;
    /* Position the navbar at the top of the page */
    height: 100%;
    /* Full width */
    display: flex;
    flex-direction: column;
}

.Body {
    padding-top: 3%;
    padding-left: 10%;
}