body {
    margin: 0;
}

.App {
    /* height: 100vh; */
    background-color: #354F52;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}


.sub-title {
    color: aliceblue;
    font-weight: bold;
    background-color: rgb(53, 52, 52);
}

.Content {
    display: flex;
}


.Body {
    padding-top: 3%;
    padding-left: 10%;
}