body {
    margin: 0;
}

.App {
    /* height: 100vh; */
    background-color: #E9EDC9;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}


.sub-title {
    width: fit-content;
    color: #595959;
    font-weight: bold;
    background-color: rgb(53, 52, 52);
}

.Content {
    display: flex;
}


.Body {
    padding-top: 3%;
    padding-left: 10%;
}