.nav_container {
    width: 94%;
    display: flex;
    align-items: center;

    height: 64px;
    position: fixed;
    background-color: #dee4e8;
    z-index: 10;

    padding-left: 3%;
    padding-right: 3%;

    justify-content: space-between;

    font-size: 14px;
    letter-spacing: 1.25px;
    text-decoration: none;
}

.nav_links {
    justify-content: flex-end;
    align-items: center;

    /* color: black; */
    font-weight: 750;
    color: #7e57c2;
    cursor: pointer;
    text-decoration: none;
}